.cartItem{
  width: 400px;
  display: flex;
}
.cart-page{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.product_img{
  width: 300px;
}
.cart_img{
  width: 100%;
  height: -webkit-fill-available;
}
/* .cart_img img */
.cartItem__info{
  width: 20%;
  margin: 0px 10px;
}
.btn{
   background: black;
    color: white;
    border-radius: 20px;
    font-size: 15px;
}